DATABASE_URL="postgresql://username:password@database_name/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="your_jwt_secret_very_very_secret"

RESEND_API_KEY="your_resend_api_key"

UPSTASH_REDIS_REST_URL="https://your_redis_url.upstash.io"
UPSTASH_REDIS_REST_TOKEN="your_redis_token"

NEXT_PUBLIC_APP_NAME="your_app_public_name"

PUSHER_APP_ID=xxxxxxxx
PUSHER_KEY=xxxxxxxxxxxx
PUSHER_SECRET=xxxxxxxx
PUSHER_CLUSTER=ap1
NEXT_PUBLIC_PUSHER_KEY=xxxxxxxx
NEXT_PUBLIC_PUSHER_CLUSTER=ap1
